:root {
    --primary-color: #00A693;
    --secondary-color: #2980b9;
    --dark-text: #666;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

/* HEADER */

header {
    background-color: #ffffff;
    padding: 20px 0;
}

.header-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logo {
    margin: 0;
    font-size: 2rem;
    font-family: "omnes-pro", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
}

.logo-link{
    text-decoration: none;
    color: #000000;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-buttons button {
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 20px;
    font-family: omnes-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.signup-button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
}

.signup-button:hover {
    background-color: var(--primary-color);
}

.login-button {
    background-color: #fff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.login-button:hover {
    background-color: #f2f2f2;
}

/* MAIN */

main {
    background-color: #fff;
    padding: 40px 0;
    margin-bottom: 100px;
}

h2 span{
    display: block;
    text-align: center;
    font-size: 2.5rem;
    font-family: omnes-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}


.slogan {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
}

.cta-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-button-wrapper {
    padding-bottom: 20px;
}

.cta-button {
    display: block;
    margin: 0 auto;
    width: 200px;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 100px;
    cursor: pointer;
    text-align: center;
    font-family: omnes-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.cta-button:hover {
    background-color: var(--secondary-color);
}

.images-wrapper {
    display: flex;
}

.images-wrapper img {
    width: auto;
    height: 475px;
    margin-left: 10px;
    margin-top: 30px;
    border-radius: 25px;
    position: relative;
}

.image1{
    bottom: -100px;
    left: 100px;
    z-index: 1;
    opacity: 0.5;
}

.image2{
    right: 100px;
    z-index: 1;
}

/* FOOTER */

footer {
    background-color: #00A693;
    padding: 20px 0;
}

.footer-container{
    max-width: 90%;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    text-align: left;
}

.footer-logo h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    text-align: left;
    font-family: omnes-pro, sans-serif;
    font-weight: 800;
    font-style: normal;
}

.footer-nav {
    flex-basis: 30%;
    text-align: center;
    padding-right: 140px;
}

.footer-nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav a {
    color: #000000;
    text-decoration: none;
    font-family: omnes-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-lang {
    text-align: right;
}

.footer-lang ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-lang li {
    display: inline-block;
    margin-right: 10px;
}

.footer-lang li:last-child {
    margin-right: 0;
}

.footer-lang a {
    color: black;
    text-decoration: none;
    font-family: omnes-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.footer-lang a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #000000;
    font-family: omnes-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* PAGE INSCRIPTION */

.signup-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-family: omnes-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
}

input[type="prenom"],
input[type="nom"],
input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="tel"] {
    width: 75%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-top: 5px;
}


button[type="submit"] {
    background-color: #00a65a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    margin-top: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

input[type="submit"] {
    margin-top: 20px;
    background-color: #32CD32;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    transform: scale(1.05);
}

.form-container {
    background-color: #00a69386;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
}

.form-container h2 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 0;
    font-family: omnes-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.error {
    color: red;
    font-size: 0.8rem;
    display: none;
}


@media screen and (max-width: 768px) {
    input#nom,
    input#prenom {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }

    label {
        display: flex;
        justify-content: center;
        align-items: center;
      }

    input[type="submit"] {
        margin-top: 20px;
        width: 100%;
    }

    .form-container {
        padding: 20px;
    }

    .form-container h2 {
        font-size: 24px;
    }
}

/* PAGE CATALOGUE */

.main-activities {
    background-color: #fff;
    padding: 0px 0;
    margin-bottom: 100px;
}

.act-container {
   text-align: center;
}

.catalogue-title{
    font-size: 2.5rem;
    font-family: omnes-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.catalogue-phrase{
    font-size: 1.5rem;
    font-family: omnes-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.catalogue-line {
    border-top: 3px solid #bbb;
    margin: 25px;
}

.activities-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
}

.activity-item {
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 280px;
    height: 420px;
}

.activity-item img {
    max-width: 80%;
    height: auto;
    border-radius: 20px;
}

.activity-name {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-family: omnes-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.discover-btn {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 20px;
    font-family: omnes-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* PAGE MON COMPTE */

.my-account {
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar {
    width: 20%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.sidebar .spacer {
    flex-grow: 1;
}

.content-ma {
    width: 80%;
    padding: 15px;
}

.sidebar-btn {
    background-color: transparent;
    border: none;
    color: #333;
    text-align: left;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

.sidebar-btn:hover,
.sidebar-btn.active {
    background-color: #4CAF50;
    color: white;
}

.content-section {
    display: none;
}

/* PAGE DASHBOARD ADMIN */ 

.admin-dashboard {
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar-admin {
    width: 20%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar-admin .spacer-admin {
    flex-grow: 1;
}

.content-ad {
    width: 80%;
    padding: 15px;
}

.logo-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo-db{
    max-width: 80%;
    height: auto;
    font-size: 22px;
    font-family: "omnes-pro", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.sidebar-admin-btn {
    background-color: transparent;
    border: none;
    color: #000;
    text-align: left;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: omnes-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.sidebar-admin-btn:hover,
.sidebar-admin-btn.active {
    background-color: var(--primary-color);
    color: white;
}

.content-section {
    display: none;
}